Package: crun
Version: 100:$APP_VERSION-1
Section: devel
Priority: optional
Architecture: amd64
Depends: criu (>= 3.15), libyajl2
Maintainer: Hosh Sadiq
Description: OCI runtime written in C.
Homepage: https://github.com/containers/crun.git
